*{
  margin: 0px;
}
div.container{
  width: 70%;
  margin: 0px auto;
  height: 800px;
  box-sizing: border-box;
  position: relative;
}
div.container h3{
  width: 100%;
  text-align: center;
  padding: 15px;
  color: red;
  font-size: 40px;
}
/* Phần css cho component "sửa"  */
div.container div.sua{
  width: 26.8%;
  border: 1px solid green;
  margin-left: 5px;
  margin-bottom: 15px;
}
div.sua p.tieude{
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  color: red;
  background-color: yellow;
  margin-bottom: 10px;
  padding: 5px;
}
div.sua input,select{
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 15px;
  height: 25px;
}
div.container div.tim{
  width: 100%;
}
div.container div.tim input.otim{
  width: 200px;
  height: 25px;
  margin-left: 5px;
}
div.container div.tim input.nuttim{
  width: 150px;
  height: 31px;
}
div.container hr{
  margin-top: 15px;
}

div.trai{
  position: absolute;
  left: 0px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: 30px;
}
div.trai div.tieude{
  width: 100%;
  display: flex;
  background-color: red;
  color: yellow;
  height: 40px;
  line-height: 40px;
  padding-left: 5px;
}
div.dulieu:nth-child(even){
  background-color: antiquewhite;
}
div.trai div.tieude p.cot1{
  width: 10%;
  
}
div.trai div.tieude p.cot2{
  width: 30%;
}
div.trai div.tieude p.cot3{
  width: 20%;
}
div.trai div.tieude p.cot4{
  width: 10%;
}
div.trai div.tieude p.cot5{
  width: 30%;
}
div.trai div.dulieu{
  width: 100%;
  display: flex;
  align-content: flex-start;
  height: 30px;
  padding-left: 5px;
}
div.trai div.dulieu div{
  height: 30px;
  line-height: 30px;
}
div.trai div.dulieu div.cot1{
  width: 10%;
}
div.trai div.dulieu div.cot2{
  width: 30%;
}
div.trai div.dulieu div.cot3{
  width: 20%;
}
div.trai div.dulieu div.cot4{
  width: 10%;
}
div.trai div.dulieu div.cot5{
  width: 30%;
}

div.phai{
  margin-top: 30px;
  width: 19%;
  position: absolute;
  right: 0px;
  box-sizing: border-box;
}
div.phai div.tieude{
  padding: 0px;
}  
div.phai div.tieude input.themtren{
 margin-bottom: 5px;
}   
div.phai input,select{
  width: 100%;
  height: 30px;
  box-sizing: border-box;
}
div.phai p{
  margin-top: 10px;
}
div.phai input.them{
  margin-top: 20px;
  height: 30px;
}